@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

/* WIREFRAME 
.frame {
  border: 1px solid red;
}*/

body {
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 45%, 70%;
}

.content {
  margin: 100px auto;
  width: 1140px;
  height: 800px;
  display: grid;
  grid-template-columns: 1140px;
  grid-template-rows: 400px 400px;
  grid-template-areas:
    "top"
    "bottom";
}

.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
}

/* MARKETING MESSAGE */
.marketing {
  width: 550px;
  height: 400px;
  margin: 80px 0 0 14px;
}

.heavy {
  font-size: 48px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  line-height: 50px;
}

.light {
  font-weight: 500;
  color: hsl(303, 10%, 53%);
  line-height: 27px;
  margin-top: 10px;
}

/* REVIEWS */
.reviews {
  width: 590px;
  height: 400px;
  margin-top: 80px;
}

.bottom {
  width: 1140px;
  height: 400px;
  grid-area: bottom;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.review {
  width: 445px;
  height: 60px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  margin: 10px 5px 20px 20px;
  color: hsl(300, 37%, 32%);
  font-weight: 700;
}

.two {
  margin-left: 70px;
}

.three {
  margin-left: 120px;
}

.stars {
  margin: 22px 30px;
}

.review p {
  margin-top: 25px;
  font-size: 13px;
}

/* CARDS */
.card {
  width: 350px;
  height: 235px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 7px;
}

.card p {
  font-size: 13px;
}

.buyer {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 30px;
}

.card img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.info {
  margin-left: 20px;
  line-height: 20px;
}

.name {
  font-weight: 700;
}

.name,
.para {
  color: white;
}

.verified {
  color: hsl(333, 80%, 67%);
}

.para {
  margin: 30px 0 0 30px;
  line-height: 21px;
}

.irene {
  margin-top: 15px;
}

.anne {
  margin-top: 30px;
}
